<div class="page-header">
  <h1>UberTask <small>Your productivity will be over 6000!</small></h1>
</div>
<div class="newTask">
  <form ng-submit="addTask(newTask)" role="form">
    <div class="input-group">
      <label class="sr-only" for="newTask">New Task</label>
      <input type="text" ng-model="newTask" class="form-control" id="newTask" placeholder="Enter task">
      <span class="input-group-btn">
        <button type="submit" id="new-task-btn" class="btn btn-default">Add</button>
      </span>
    </div>
  </form>
</div>
<hr/>
<ul class="list-group taskList">
  <li class="list-group-item task" ng-repeat="task in tasks | orderBy:doneFirst">
    <input type="checkbox" class="done" ng-model="task.done">
    <span class="text ng-class: done-{{task.done}}">{{task.text}}</span>
  </div>
</div>
